$color-royal-blue:                  #486dd8;
$color-royal-blue-secondary:        #567ae4;
$color-royal-blue-tertiary:         #3584e4;
$color-slate-blue:                  #655BD5;
$color-dim-gray:                    #6b6b6b;
$color-snow:                        #fafafa;
$color-white:                       #ffffff;
$color-nero:                        #222222;
$color-whisper:                     #eaeaea;
$color-whisper-secodary:            #eeeeee;
$color-denim:                       #1d5cbb;
$color-charcoal:                    #454545;
$color-silver:                      #bababa;
$color-silver-secondary:            #bfbfbf;
$color-seal-brown:                  #181515;
$color-dim-gray:                    #747474;
$color-perano:                      #97b2fe;
$color-night-rider:                 #302828;
$color-night-rider-secondary:       #2C2A2A;
$color-night-rider-third:           #333333;
$color-black-russian:               #252830;
$color-white-smoke:                 #efefef;
$color-white-smoke-secondary:       #F3F3F3;
$color-white-smoke-third:           #f0f0f0;
$color-cerise:                      #EB236B;
$color-malibu:                      #54BFF9;
$color-free-speech-blue:            #323BE1;
$color-nobel:                       #9B9B9B;
$color-nobel-secondary:             #9D9D9D;
$color-nobel-tertiary:              #949494;
$color-dark-gray:                   #AFAFAF;
$color-silver-secondary:            #C4C4C4;
$color-magnolia:                    #f8f7fc;
$color-magnolia-secondary:          #FBFAFF;
$color-black-russian-secondary:     #141417;
$color-maire:                       #171716;
$color-whisper-tertiary:            #ECEAEA;
$color-matterhorn:                  #504F4F;
$color-white-tertiary:              #F2F2F2;
$color-very-light-grey:             #CCCCCC;
$color-very-light-grey-secondary:   #cdcdcd;
$color-havelock-blue:               #6081D6;
$color-citron:                      #8CA00E;
$color-heliotrope:                  #CB69EE;
$color-tangerine:                   #F29305;
$color-storm-dust:                  #626261;
$color-solitude:                    #dde6ff;
$color-solitude-secondary:          #edf2ff;
$color-portage:                     #839DFB;
